@page
@model EcommerceDataAnalysisToolClient.Pages.EcommerceDataAnalysisTool.AnalysisHomeModel
@using Newtonsoft.Json.Linq
<div class="card">
    <h2><i class="fa-solid fa-chart-pie"></i>Sales Data Analysis</h2></i>
    <form method="POST" class="form">
        <div class="row">
            <div class="col-8">
                <div class="form-group">
                    <select class="form-control text-center" id="year" name="Year">
                        <option value="">--Select a Year--</option>
                        @for (int i = 2023; i >= 2020 && i <= 2023; i--)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-primary">Submit </button>
            </div>
        </div>
    </form>
    @if (Model.Analysis != null && Model.Analysis.CategoryWithHighestSales != null)
    {
        <div class="card border-success mx-auto mb-3" style="max-width: 50rem;">
            <div class="card-header text-center">Sales Summary for @Model.Year</div>
            <div class="card-body text-center">
                <div class="row"><h2>Total Revenue: </h2><h2 class="text-success card-title">@Model.Analysis.TotalRevenue</h2></div>
                <div class="row"><h2>Most Sold Category: </h2><h2 class="text-success card-title">@Model.Analysis.CategoryWithHighestSales.category</h2></div>
                <div class="row"><h2>Average Sale: </h2><h2 class="text-success card-title">@Model.Analysis.AverageSaleInYear</h2></div>
                </div>
        </div>
    }
    else if (Model.Year.HasValue)
    {
        <div class="alert alert-danger" role="alert">
            Error getting total revenue for @Model.Year.
        </div>
    }
</div>
<div class="card">
    <div class="button-group">
        <div class="row justify-content-center">
            <div class="col-3">
                <button type="button" class="btn btn-dark" onclick="window.location.href='TotalRevenue';">
                    <i class="fa-solid fa-money-bill-trend-up" style="font-size: 100px;"></i>Total Revenue
                </button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-dark" onclick="window.location.href='AverageSale';">
                    <i class="fa-solid fa-scale-balanced" style="font-size:100px;"></i>Average Sales
                </button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3">
                <button type="button" class="btn btn-dark" onclick="window.location.href='MostSoldProduct';">
                    <i class="fa-solid fa-gifts" style="font-size: 100px;"></i>Most Sold Product
                </button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-dark" onclick="window.location.href='CategoryBySales';">
                    <i class="fa-solid fa-sitemap" style=" font-size: 100px;"></i>Sales by Category
                </button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-dark" onclick="window.location.href='Forecast';">
                    <i class="fa-solid fa-ranking-star" style=" font-size: 100px;"></i>Sales Forecast
                </button>
            </div>
        </div>
    </div>
</div>
