@page
@model EcommerceDataAnalysisToolClient.Pages.EcommerceDataAnalysisTool.IndexModel
@{

}

<div class="text-center">
    <h1 class="display-4">List of Ecommerce</h1>
    <a class='btn btn-primary btn-sm' href='/SalesDataAnalysis'>Ecommerce</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Add a sales record</h1>
    <a class='btn btn-primary btn-sm' href='/EcommerceDataAnalysisTool/add'>Add Ecommerce</a>
</div>

<table class="table">

    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>ProductName</th>
            <th>ProductCategory</th>
            <th>Price</th>
            <th>Brand</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ecommerce)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Date</td>
                <td>@item.ProductName</td>
                <td>@item.ProductCategory</td>
                <td>@item.Price</td>
                <td>@item.Brand</td>

            </tr>
        }
    </tbody>

</table>

