@page
@model EcommerceDataAnalysisToolClient.Pages.EcommerceDataAnalysisTool.MostSoldProductModel
@{
}
@using System.Globalization
<div class="card">
    <h2>Most Sold Product</h2>
    <form>
        <label>
            <input type="radio" name="option" value="year" checked onchange="showBlock()"> By Year
        </label>
        <label>
            <input type="radio" name="option" value="month" onchange="showBlock()"> By Month
        </label>
    </form>

    <div id="yearBlock" style="display: block;">
        <!-- Block content for year -->
        <form method="POST" class="form">
            <div class="row d-flex justify-content-center">
                <div class="col-3">
                    <div class="form-group">
                        <select class="form-control text-center" id="year" name="Year">
                            <option value="">--Select a Year--</option>
                            @for (int i = 2023; i >= 2020 && i <= 2023; i--)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-primary">Submit </button>
                </div>
            </div>
        </form>
        @if (!string.IsNullOrEmpty(Model.Product.ProductName))
        {
            <script>document.querySelector('input[name="option"]:checked').value = "year";
                document.getElementById("yearBlock").style.display = "block";
                document.getElementById("monthBlock").style.display = "none";</script>
            <div class="card border-success mx-auto mb-3" style="max-width: 30rem;">
                <div class="card-header text-center">Most Sold Product for @Model.Year</div>
                <div class="card-body text-success text-center">
                    <h2 class="card-title">@Model.Product.ProductName</h2>
                </div>
            </div>
        }
        else if (Model.Year.HasValue)
        {
            <div class="alert alert-danger" role="alert">
                Error getting total revenue for @Model.Year.
            </div>
        }
    </div>

    <div id="monthBlock" style="display: none;">
        <!-- Block content for month -->
        <form method="POST" class="form">
            <div class="row d-flex justify-content-center">
                <div class="col-4">
                    <div class="form-group">
                        <select class="form-control text-center" id="year" name="Year">
                            <option value="">--Select a Year--</option>
                            @for (int i = 2022; i >= 2020 && i <= 2023; i--)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <select class="form-control" id="month" name="Month">
                            <option value="">--Select Month--</option>
                            @for (int i = 1; i <= 12; i++)
                            {
                                <option value="@i">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-primary">Submit </button>
                </div>
            </div>
        </form>
        @if (!string.IsNullOrEmpty(Model.ProductMonth))
        {
            <script>document.querySelector('input[name="option"]:checked').value = "month";
                document.getElementById("yearBlock").style.display = "none";
                document.getElementById("monthBlock").style.display = "block";</script>
            <div class="card border-success mx-auto mb-3" style="max-width: 30rem;">
                <div class="card-header text-center">Most Sold Product for @Model.Year</div>
                <div class="card-body text-success text-center">
                    <h2 class="card-title">@Model.ProductMonth</h2>
                </div>
            </div>
        }
        else if (Model.Year.HasValue && Model.Month.HasValue)
        {
            <div class="alert alert-danger" role="alert">
                Error getting total revenue for @Model.Month.
            </div>
        }
    </div>

    <script>function showBlock() {
            var option = document.querySelector('input[name="option"]:checked').value;
            if (option === "year") {
                document.getElementById("yearBlock").style.display = "block";
                document.getElementById("monthBlock").style.display = "none";
            } else if (option === "month") {
                document.getElementById("yearBlock").style.display = "none";
                document.getElementById("monthBlock").style.display = "block";
            }
        }</script>




</div>